body {
    /*background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;*/
    text-align: center;
    background-color: #626766;
    font-weight: 300;
    position: relative;
    height: 1200px;
    color: #555;
}

.wrapper {
    border-radius: 10px;
    width: 1300px;
    position: relative;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    background-color: #fff2e7;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 50px;
    padding: 10px;
}

input {
    transform: translate(355%, -196%);
}

button:hover {
    background-color: #7183ff;
}

.btn {
    font-family: "Calibri", sans-serif;
    border: none;
    outline: none;
    background-color: #b9c7f1;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    margin: 2px 2px;
    padding: 6px;
}

#middle{
    display: table;
    position: relative;
}

#btn-div {
    width: 1130px;
    margin: 5px 5px 5px 25px;
    padding: 2px;
    float: left;
}

#headScore{
    position: relative;
    float: left;
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 18px;
    margin: 10px 5px;
    text-transform: uppercase;
    font-weight: 900;
    color: #EB4D4D;
    text-align: left;
}

.number{
    float: left;
    padding: 5px;
}

#list{
    float: left;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 18px;
    margin: 10px 5px;
    text-transform: uppercase;
    font-weight: 900;
    color: blue;
    text-align: left;
}

.heading {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 25px;
    margin: 10px 5px;
    text-transform: uppercase;
    font-weight: 900;
    color: #EB4D4D;
    text-align: center;
}

#reset {
    background-color: #3839af;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 0px 5px;
}

#start {
    background-color: #3839af;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 0px 5px;
}

.btn-submit {
    text-align: center;
    margin: 10px;
    padding: 2px 5px;
}

#start {
    font-family: 'Roboto', sans-serif;
    border: 2px solid red;
    background-color: white;
    color: black;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
}

#start {
    border-color: #f44336;
    color: red
}

#start:hover {
    background: #f44336;
    color: white;
}

#reset {
    font-family: 'Roboto', sans-serif;
    border: 2px solid blue;
    background-color: white;
    color: black;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
}

#reset {
    border-color: #2196F3;
    color: dodgerblue;
}

#reset:hover {
    background: #2196F3;
    color: white;
}

.btns:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#running {
    font-family: 'Roboto', sans-serif;
    display: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: #EB4D4D;
    text-align: center;
}

#year {
    font-family: 'Roboto', sans-serif;
    display: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: #EB4D4D;
    text-align: center;
    margin: 0px 5px;
}